{% extends 'layout.twig' %}

{% block content %}
    <div class="row align-items-center">
        <div class="offset-md-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary btn-block" href="{{ url('front.random-pattern') }}">Random pattern</a>
                    <a class="btn btn-primary btn-block" href="{{ url('front.gosper-glider-gun') }}">Gosper's Glider Gun</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}