{% extends 'layout.twig' %}

{% block content %}
    <div class="row">

    </div>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <a class="btn btn-primary" href="{{ url('front.random-pattern') }}">Random pattern</a>
            <a class="btn btn-primary" href="{{ url('front.gosper-glider-gun') }}">Gosper's Glider Gun</a>
            <a class="btn btn-primary" href="{{ url('front.create-pattern') }}">Create pattern</a>
        </div>
    </div>
{% endblock %}