{% extends 'layout.twig' %}

{% block title %}Random pattern{% endblock %}

{% block content %}
    <h4>Game of life grid created form a random pattern</h4>
    <div class="row align-items-center">
        <div class="offset-md-4 col-md-2">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-igm-top" id="grid-container"></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <button type="button" class="btn btn-success btn-block" id="stopBtn">Stop</button>
                            </li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-success btn-block" id="resumeBtn">Resume</button>
                            </li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-success btn-block" id="restartBtn">Restart</button>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <p><b>Generation #: </b><label id="generationLabel"></label></p>
                            <p><b>Population count: </b><label id="countLabel"></label></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footerAssets %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/js/controllers/RandomPageController.js') }}" onload="window.RandomPageController.start()"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/grid.css') }}" />
{% endblock %}