{% extends 'layout.twig' %}

{% block title %}Random pattern{% endblock %}

{% block content %}
    <h4>Game of life grid created form a random pattern</h4>
    <div class="row">
        <div class="offset-md-3 col-md-3 col-sm-12" id="grid-container">
            <svg id="grid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="grid"></svg>
        </div>
        <div class="col-md-3 col-sm-12">
            <button type="button" class="btn btn-success" id="stopBtn">Stop</button>
            <button type="button" class="btn btn-success" id="resumeBtn">Resume</button>
            <button type="button" class="btn btn-success" id="restartBtn">Restart (new pattern)</button>
        </div>
    </div>
{% endblock %}
{% block footerAssets %}
    <script type="application/javascript" src="{{ asset('assets/js/services/GridManagerCanvas.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/services/GameOfLife.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/controllers/RandomPageController.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/grid.css') }}" />
{% endblock %}