{% extends 'layout.twig' %}

{% block title %}Random pattern{% endblock %}

{% block content %}
    <h4>Game of life grid created form a random pattern</h4>
    <div class="row">
        <div id="grid-container" class="col-md-6 offset-md-3"></div>
    </div>
{% endblock %}
{% block footerAssets %}
    <script type="application/javascript" src="{{ asset('assets/js/GridManager.js') }}"></script>
{% endblock %}